h2{
  text-align: center;
}
h4{
  text-decoration: rgb(71, 173, 71);
}
img{
  float: left;
  padding-right: 50px;
}
h4{
  color: rgba(82, 18, 143, 0.678);
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
}
.info{
  color: rgb(141, 37, 37);
  font-family: cursive;
}
