h2{
  text-align: center;
}
h4{
  text-decoration: rgb(71, 173, 71);
}
img{
  float: left;
  padding-right: 50px;
}
h4{
  color: black;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
}
.education{
  color: brown;
  font-family: cursive;
}
